<section id="v" class="v py-5">
  <div class="container text-center pt-4">
    <div class="section-title">
      <h2>YOUTUBE COMPONENT</h2>
      <p>
        The quick brown fox jumps over the lazy dog The quick brown fox jumps
        over the lazy dog
      </p>
    </div>
    <div
      class="embed-responsive embed-responsive-16by9"
      data-aos="zoom-in"
      data-aos-delay="200"
      data-aos-duration="1100"
    >
      <iframe
        src="https://www.youtube.com/embed/2_tnjZ9XKBE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
