<section id="services" class="services section-bg mb-5">
  <div class="container">
    <div class="section-title mt-5 py-5">
      <h2 class="text-center">GET STARTED</h2>
      <p class="text-center">Jumps over the lazy dog and</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="icon-box">
          <p>
            The quick brown fox jumps over the lazy dog The quick brown fox
            jumps over the lazy dog
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <p>
            The quick brown fox jumps over the lazy dog The quick brown fox
            jumps over the lazy dog
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mt-4 mt-xl-0">
        <div class="icon-box">
          <p>
            The quick brown fox jumps over the lazy dog The quick brown fox
            jumps over the lazy dog
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mt-4 mt-xl-0">
        <div class="icon-box">
          <p>
            The quick brown fox jumps over the lazy dog The quick brown fox
            jumps over the lazy dog
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
